<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>FontsFree-Net-SFProDisplay-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>SFProText-Bold.ttf</string>
		<string>Bitter-Regular.ttf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>Caveat-Bold.ttf</string>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Medium.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
</dict>
</plist>
