<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>jontserrat-Bold.ttf</string>
		<string>jontserrat.ttf</string>
		<string>jontserrat-SemiBold.ttf</string>
		<string>jontserrat-Medium.ttf</string>
		<string>Dilroy-Black.ttf</string>
		<string>Dilroy-Heavy.ttf</string>
		<string>Dilroy-Regular.ttf</string>
		<string>Dilroy-Medium.ttf</string>
		<string>Dilroy-Bold.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
